@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-purple-dark: #54318C;
    --color-purple-light: #A486D5;
    --color-yellow-light: #FFEB99;
    --color-yellow-mid: #FFDE5C;
    --color-yellow-dark: #FFCC00;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

header {
    background-color: var(--color-purple-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}

.logo img {
    height: 50px;
}

nav>ul {
    display: flex;
    list-style-type: none;
    /*tip npr cime da bude sredjena lista*/
    justify-content: space-evenly;
    text-decoration: none;
}

nav ul li a {
    justify-content: space-evenly;
    display: inline-block;
}

.menu a {
    margin-inline: 0 15px;
    color: var(--color-yellow-light);
}

.menu a:hover {
    color: var(--color-purple-dark);
}

nav ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: var(--color-yellow-dark);
    transition: all .5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    background: rgb(16, 0, 43);
    background: -moz-linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(24, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    background: -webkit-linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(24, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    background: linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(24, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b", endColorstr="#10002b", GradientType=1);
}

.hero-image {
    max-width: 250px;
    height: auto;
    padding-top: 30%;
    padding-left: 25px;
}

.hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 65%;
    width: 80%;
    top: 15%;
    left: 10%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15 px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.content-left {
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.content-right {
    width: 60%;
    margin-right: 5%;
    padding-left: 7%;
}

.landing-page h1 {
    display: flex;
    font-size: 50px;
    color: whitesmoke;
    justify-content: flex-start;
}

.landing-page h2 {
    display: flex;
    font-size: 50px;
    color: whitesmoke;
    justify-content: flex-end;
}

.landing-page p {
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    justify-content: flex-start;
}

main span {
    display: flex;
    justify-content: space-around;
}

.reason {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(218, 218, 218);
}

.hero-card-reason {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 75%;
    width: 90%;
    top: 15%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15 px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.reason h2 {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    color: rgb(16, 0, 43);
}

.cards {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 40px;
}

.reason-card {
    position: relative;
    width: 170px;
    height: 250px;
    top: 0;
    left: 0;
    border: 3px solid var(--color-purple-dark);
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    border-radius: 30px;
}

.reason-card:hover {
    transform: rotateY(180deg);
}

.front-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: var(--color-purple-dark);
    background: -moz-linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(30, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    background: -webkit-linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(24, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    background: linear-gradient(155deg, rgba(16, 0, 43, 1) 0%, rgba(24, 0, 43, 0.9) 50%, rgba(16, 0, 43, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10002b", endColorstr="#10002b", GradientType=1);
    color: #000;
    border-radius: 30px;
}

.back-side {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    background: #A486D5;
    color: #fafafa;
    border: 2px solid var(--color-purple-dark);
    transform: rotateY(180deg);
    border-radius: 30px;
}

.cards img {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 15px;
}

.cards h4 {
    display: flex;
    justify-content: center;
    color: #fafafa;
    padding-top: 20px;
    font-size: 100%;
    text-align: center;
}

.cards p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 12px;
}

.jobs {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #FFEB99;
    justify-content: center;
}

.jobs h2 {
    display: flex;
    padding-top: 55px;
    color: rgb(16, 0, 43);
}

.herocard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 65%;
    width: 90%;
    top: 15%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15 px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.jobs .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-items: center; */
}

.form-select {
    display: flex;
    position: relative;
    justify-content: center;
    width: 70%;
    padding-top: 70px;
    background-color: #FFEB99;
    height: fit-content;
}

.select-selected {
    background-color: DodgerBlue;
}

.select-items {
    position: relative;
    display: flex;
    background-color: var(--color-yellow-light);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.jobs content {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: #FFDE5C;
    padding-left: 50px;
    padding-right: 50px;
}

.jobs img {
    height: 50px;
    width: 50x;
}

.experiences {
    height: 100vh;
    width: 100vw;
    background: rgb(218, 218, 218);
}

.experiences h2 {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    color: rgb(16, 0, 43);
}

body {
    font-family: Helvetica, sans-serif;

}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 350px;
    width: 1000px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 7000px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    /* -webkit-animation: slide 18s ease infinite; */
}

.slide {
    flex: 0 0 100%;
    height: 350px;
    width: 1000px;
}

.slide:nth-child(1) {
    background: var(--color-yellow-light);
}

.slide:nth-child(2) {
    background: var(--color-yellow-mid);
}

.slide:nth-child(3) {
    background: var(--color-yellow-dark);
}

.slide:nth-child(4) {
    background: var(--color-purple-light);
}

.slide:nth-child(5) {
    background: var(--color-purple-dark);
}

.slide:nth-child(6) {
    background: var(--color-purple-light);
}

.slide:nth-child(7) {
    background: var(--color-purple-light);
}

.slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
}

/* @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -1000px;}
    50% {margin-left: -1000px;}
    60% {margin-left: -2000px;}
    70% {margin-left: -2000px;}
    80% {margin-left: -3000px;}
    90% {margin-left: -3000px;}
  }   */

  .slider-container {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
    }
    
    .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    }
    
    .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    border-radius:30px;
    }
    
    #slide1 { background-color: #3498db; }
    #slide2 { background-color: #2ecc71; }
    #slide3 { background-color: #e74c3c; }
    #slide4 { background-color: #f39c12; }
    #slide5 { background-color: #9b59b6; }
    #slide6 { background-color: #1abc9c; }
    #slide7 { background-color: #e67e22; }
    
    button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;}

.footer {
    display: flex;
    justify-content: center;
    background: rgb(16, 0, 43);
    background-color: #24262b;
    padding: 70px 0;
}

.footer .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col img{
  height: 70px;
  width: auto;
}
.footer-col p{
  color: #bbbbbb;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--color--purple-light);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.iframe {
    display: flex;
    position: relative;
    width: 60px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;
}

.main{
    width:100vw;
}